/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

.imagen {
    text-align: center;
    margin: 60px 0;
}

.imagen img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

article {
    max-width: 35em;
    max-height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-direction: row;
    padding: 2em;

}

button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
